<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Our first game with three.js and kinect</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				font-family: Segoe UI, Helvetica, Ubuntu, sans-serif;
				background-color: #f0f0f0;
				margin: 0px;
				overflow: hidden;
				width:640px;
				height:480px;
			}
		</style>
	</head>

	<body>
		<script src="static/three.min.js"></script>

		<script src="static/js/controls/TrackballControls.js"></script>

		<script src="static/js/libs/score.js"></script>

		<script>

			var container;
			var camera, controls, scene, renderer;
			var objects = [];
			var pointers = {};
			var score = 0;

			init();
			animate();

			function init() {

				container = document.createElement( 'div' );
				document.body.appendChild( container );

				// Create the camera, the scene and add some lights

				camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 1, 4000 );
				camera.position.z = 3000;
				camera.position.x = 500;
				camera.position.y = 100;

				scene = new THREE.Scene();

				scene.add( new THREE.AmbientLight( 0x505050 ) );

				var light = new THREE.SpotLight( 0xffffff, 1.5 );
				light.position.set( 0, 500, 2000 );
				light.castShadow = true;

				var light_2 = new THREE.SpotLight( 0xffffff, 2.0 );
				light_2.position.set( 2000, 0, 1400 );
				light_2.castShadow = true;

				scene.add( light );
				scene.add( light_2 );
				
				// Load the blender's monkey and give him different position, size, colors and levels of shininess ...

				var loader = new THREE.JSONLoader();
				loader.load( 'static/obj/Suzanne.js', function ( geometry ) {

					geometry.computeVertexNormals();

					for ( var i = 0; i < 8; i ++ ) {
						var material = new THREE.MeshLambertMaterial( { color: Math.random() * 0xffffff } );
	
						var object = new THREE.Mesh( geometry, material );

						object.material.ambient = object.material.color;
						object.material.shininess = Math.random() * (1000 - 40) + 40;

						object.position.x = Math.random() * 800;
						object.position.y = Math.random() * 800;
						object.position.z = Math.random() * (1500 - 500) + 500;
					
						object.rotation.x = Math.random() * 2 * Math.PI;
						object.rotation.y = Math.random() * 2 * Math.PI;
						object.rotation.z = Math.random() * 2 * Math.PI;

						object.scale.x = object.scale.y = object.scale.z = Math.random() * (250 - 125) + 125;
						
						object.castShadow = true;
						object.receiveShadow = true;
						objects.push( object );
						scene.add( object );
					} 
				});
				

				renderer = new THREE.WebGLRenderer( { antialias: false } );
				renderer.setClearColor( 0xf0f0f0 );

				renderer.setSize( window.innerWidth, window.innerHeight);
				renderer.sortObjects = false;

				
				container.appendChild( renderer.domElement );

				scoreboard = new Score();
				scoreboard.domElement.style.position = 'absolute';
				scoreboard.domElement.style.top = '0px';
				container.appendChild( scoreboard.domElement );

				window.addEventListener( 'resize', onWindowResize, false );

				// Listen to the kinect's events
				sse = new EventSource('/events');
                sse.onmessage = updateReceived;

			}

			function onWindowResize() {

				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize( window.innerWidth, window.innerHeight );

			}
			
	
			function move(){
				/*Calculate the next position of our monkey's heads*/
				
				var timer = 0.00001 * Date.now();
				var temp
				for(var i = 0, size = objects.length; i < size ; i++){
					objects[i].rotation.x += 0.1;
					objects[i].rotation.y += 0.05;
					objects[i].position.y = Math.cos( objects[i].rotation.x + timer) * 700 ;
					objects[i].position.x = Math.sin( objects[i].rotation.y + timer) * 1000 + 500 ;
				}
			}

				
			function animate() {
				/*Update and Render*/
				requestAnimationFrame( animate );
				render();
				collisionUpdate();
				scoreboard.update(score);	
			}

			function render() {
				move();
				renderer.render( scene, camera );

			}

			function collisionUpdate(){
				/*Check if our hand is intersecting some monkey*/

				var localVertex, globalVertex, directionVector, ray, collisionResults, index;

				for (var hands in pointers){
        			var originPoint = pointers[hands].position.clone();
				
					for (var vertexIndex = 0; vertexIndex < pointers[hands].geometry.vertices.length; vertexIndex++){
							localVertex = pointers[hands].geometry.vertices[vertexIndex].clone();
							globalVertex = localVertex.applyMatrix4( pointers[hands].matrix );
							directionVector = globalVertex.sub( pointers[hands].position );
							ray = new THREE.Raycaster( originPoint, directionVector.clone().normalize());
							collisionResults = ray.intersectObjects( objects );

							for (var i = 0; i < collisionResults.length; i++){
								if (collisionResults.length > 0 && collisionResults[i].distance < directionVector.length()){
									score += 100;
									scene.remove(collisionResults[i].object);
									index = objects.indexOf(collisionResults[i].object);
									objects.splice(index, 1);
								}
							}
						}
					}
			}

			function updateReceived (event) {
				/*The kinect send some more data .. decide what you want to do ..*/

				var data = JSON.parse(event.data);
				switch(data.type) {
    				case "create_hand":
    					createPointer(data.id, data.hand_x, data.hand_y, data.hand_z);
				        break;
				    case "update_pos":
				    	pointers[data.id].position.x = window.innerWidth/2 - data.hand_x;
				    	pointers[data.id].position.y = data.hand_y - window.innerHeight/2;
				    	pointers[data.id].position.z = data.hand_z;
				        break;
				    case "remove_hand":
				    	scene.remove(pointers[data.id]);
				    	delete(pointers[data.id]);
									
				}
				
			}

			function createPointer(id, x, y, z){
				/*Hey .. there is a new hand let's draw it*/

				geometry = new THREE.BoxGeometry( 100, 100, 100 );
				pointers[id] = new THREE.Mesh( geometry, new THREE.MeshLambertMaterial( { color: Math.random() * 0xffffff } ) );
				pointers[id].position.x = window.innerWidth/2 - x;
				pointers[id].position.y = y - window.innerHeight/2;
				pointers[id].position.z = z;
				scene.add(pointers[id]);
			}
		</script>

</html>
